client
dev tun
proto udp
remote cvpn-endpoint-08503a4dc058f4bc1.prod.clientvpn.eu-west-1.amazonaws.com 443
remote-random-hostname
resolv-retry infinite
nobind
remote-cert-tls server
cipher AES-256-GCM
verb 3
<ca>
-----BEGIN CERTIFICATE-----
MIIDVzCCAj+gAwIBAgIUEuBTpUdC3CRl80EAODanE2EDx1gwDQYJKoZIhvcNAQEL
BQAwGTEXMBUGA1UEAwwOV2FzaG1lbi1WUE4tQ0EwHhcNMjYwMzI0MTgwNzA3WhcN
MzYwMzIxMTgwNzA3WjAZMRcwFQYDVQQDDA5XYXNobWVuLVZQTi1DQTCCASIwDQYJ
KoZIhvcNAQEBBQADggEPADCCAQoCggEBALkVDQeVAy4Ym8fpNY7AstHBQs+tWDkB
hf4ceAJHKbTctvGJJiyIVvHsvCLNwXCqz2Wi7n7ksG4N23Meaeds++X4DlBPMKkC
AtcwSj+odZSFX75L0TIoQuVZZCWkNBLAFz/8Q/yVd+sVyRXvL39beofrpmK76hCt
+x+Xqiq4YnR9FNo9oKQPyIViNe+ZKHObRQt18xurWjVvdWqje35WW4mi0kpc4Mlt
yxkVguqbzmWPzAbstciNg9k/BUIXcby6G1ArBpOlpjoh6ZnARINYaQ9q6wGlw7lq
cCtTIKlc/0Q3bXJqf80a/SuwhLgtuzDJHz00lku/L6bHUhct1JrfHMUCAwEAAaOB
ljCBkzAPBgNVHRMBAf8EBTADAQH/MB0GA1UdDgQWBBT7lWXdQNKwvQZD0tAadJbz
V8nGBDBUBgNVHSMETTBLgBT7lWXdQNKwvQZD0tAadJbzV8nGBKEdpBswGTEXMBUG
A1UEAwwOV2FzaG1lbi1WUE4tQ0GCFBLgU6VHQtwkZfNBADg2pxNhA8dYMAsGA1Ud
DwQEAwIBBjANBgkqhkiG9w0BAQsFAAOCAQEApLc9ZhBdDgE2XpncRKnxVjNiUqSM
q8WTcPIkJHqOfbixG0/Nd/Nj21OtjTOim2Gx/wc065MwqpPChWZqpZyWxY+nTzvd
8fp3/PU84fk0guU8xDMQPw9nMGJljwz+29vP0kMGHrEA21EViu9fQ1XVWQgslTxS
AemR7vHJjsNWBUBu7SjfUHa64V212Fbl8B4xJTw1ENfhcJKtmfN4ri+aZgaACXBW
QqrhhHGKXORqPZMNVoJfRHoXQCcGR+A3W3U0g8ew2f1cyMOsu5YcdYqfj7Url4Ou
m+C0i/XU/UKdohr1SVqQJdrrXHyUqrkWtEn3rfhXcCbvtizQNvRe9UgCLA==
-----END CERTIFICATE-----
</ca>
reneg-sec 0
verify-x509-name vpn.washmen.com name
<cert>
-----BEGIN CERTIFICATE-----
MIIDYTCCAkmgAwIBAgIQHzHRyAENfV3mkEaxiw60SzANBgkqhkiG9w0BAQsFADAZ
MRcwFQYDVQQDDA5XYXNobWVuLVZQTi1DQTAeFw0yNjAzMjQxODExMDZaFw0yODA2
MjYxODExMDZaMBgxFjAUBgNVBAMMDSoud2FzaG1lbi5jb20wggEiMA0GCSqGSIb3
DQEBAQUAA4IBDwAwggEKAoIBAQCy0YdyI6sWTr0eesK82QFjVes9w+qgdMeDIpHU
DDAmFot2NW9+cBLA6/2pmZVVxdgRCd8Efhh9YR8rHzsk+2u/YaYnnVOWRPPh90dn
eyxxunIg7oK0EGFa+ws7yLeWnmKfJpoWzeeV5WggvMIuNf4YZ050DzoaV6NKOmeX
YYjQOKVUNsZl8iTByVDaJV3tObMXFMc4i1iqh6AtYevy5DhNOg4j7S92I1JcbHVO
Pvk3H1yR6gi62gBYqRw0xkzmX9KlJxjScEq1cnP2Cvsy8gF4kOzOtJCrX1hZJtyQ
sHUiz2FZn2ZuJsyS1IzicVeJXF6VgyT233ms4N7r8PucYfFvAgMBAAGjgaUwgaIw
CQYDVR0TBAIwADAdBgNVHQ4EFgQU2sdNy3OVyAicptE+LCBycUtK/KUwVAYDVR0j
BE0wS4AU+5Vl3UDSsL0GQ9LQGnSW81fJxgShHaQbMBkxFzAVBgNVBAMMDldhc2ht
ZW4tVlBOLUNBghQS4FOlR0LcJGXzQQA4NqcTYQPHWDATBgNVHSUEDDAKBggrBgEF
BQcDAjALBgNVHQ8EBAMCB4AwDQYJKoZIhvcNAQELBQADggEBAFD+4lc4qEcIHHID
W1gDt+PU+VbypdW3BoZVnf/SwsMWmlk1cOjbKS6QtyR0eep89AWeGpvxFMcFEuE7
BBkHHMcPBQ0/Sn7xIcON2uniWQvqDOHXfpkA+eLm7sQFFv0J05SohFSjNgFOW/8a
f3aLVjBJkk7ksbqdkMKX6DibOKqrT40etFZEAjoyxqqOemt40bs8Qf07FmUVUrUq
+zcHXANqekRjHQmr5+4Ro+9FyInV0O0eA0UI0q+uB65xyAwe9Ac2kHVoi+5IIa6z
MlD+5MtIhC1d/2WMzWbTYF9kcaXXbzXBP7EtmgMFdSKdsFCvfSkx4vHlyI+cxRcz
A515EUo=
-----END CERTIFICATE-----
</cert>
<key>
__VPN_PRIVATE_KEY__
</key>
