client
dev tun
proto udp
remote cvpn-endpoint-08503a4dc058f4bc1.prod.clientvpn.eu-west-1.amazonaws.com 443
remote-random-hostname
resolv-retry infinite
nobind
remote-cert-tls server
cipher AES-256-GCM
verb 3
<ca>
-----BEGIN CERTIFICATE-----
MIIDVzCCAj+gAwIBAgIUEuBTpUdC3CRl80EAODanE2EDx1gwDQYJKoZIhvcNAQEL
BQAwGTEXMBUGA1UEAwwOV2FzaG1lbi1WUE4tQ0EwHhcNMjYwMzI0MTgwNzA3WhcN
MzYwMzIxMTgwNzA3WjAZMRcwFQYDVQQDDA5XYXNobWVuLVZQTi1DQTCCASIwDQYJ
KoZIhvcNAQEBBQADggEPADCCAQoCggEBALkVDQeVAy4Ym8fpNY7AstHBQs+tWDkB
hf4ceAJHKbTctvGJJiyIVvHsvCLNwXCqz2Wi7n7ksG4N23Meaeds++X4DlBPMKkC
AtcwSj+odZSFX75L0TIoQuVZZCWkNBLAFz/8Q/yVd+sVyRXvL39beofrpmK76hCt
+x+Xqiq4YnR9FNo9oKQPyIViNe+ZKHObRQt18xurWjVvdWqje35WW4mi0kpc4Mlt
yxkVguqbzmWPzAbstciNg9k/BUIXcby6G1ArBpOlpjoh6ZnARINYaQ9q6wGlw7lq
cCtTIKlc/0Q3bXJqf80a/SuwhLgtuzDJHz00lku/L6bHUhct1JrfHMUCAwEAAaOB
ljCBkzAPBgNVHRMBAf8EBTADAQH/MB0GA1UdDgQWBBT7lWXdQNKwvQZD0tAadJbz
V8nGBDBUBgNVHSMETTBLgBT7lWXdQNKwvQZD0tAadJbzV8nGBKEdpBswGTEXMBUG
A1UEAwwOV2FzaG1lbi1WUE4tQ0GCFBLgU6VHQtwkZfNBADg2pxNhA8dYMAsGA1Ud
DwQEAwIBBjANBgkqhkiG9w0BAQsFAAOCAQEApLc9ZhBdDgE2XpncRKnxVjNiUqSM
q8WTcPIkJHqOfbixG0/Nd/Nj21OtjTOim2Gx/wc065MwqpPChWZqpZyWxY+nTzvd
8fp3/PU84fk0guU8xDMQPw9nMGJljwz+29vP0kMGHrEA21EViu9fQ1XVWQgslTxS
AemR7vHJjsNWBUBu7SjfUHa64V212Fbl8B4xJTw1ENfhcJKtmfN4ri+aZgaACXBW
QqrhhHGKXORqPZMNVoJfRHoXQCcGR+A3W3U0g8ew2f1cyMOsu5YcdYqfj7Url4Ou
m+C0i/XU/UKdohr1SVqQJdrrXHyUqrkWtEn3rfhXcCbvtizQNvRe9UgCLA==
-----END CERTIFICATE-----
</ca>
reneg-sec 0
verify-x509-name vpn.washmen.com name
<cert>
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number:
            1f:31:d1:c8:01:0d:7d:5d:e6:90:46:b1:8b:0e:b4:4b
        Signature Algorithm: sha256WithRSAEncryption
        Issuer: CN=Washmen-VPN-CA
        Validity
            Not Before: Mar 24 18:11:06 2026 GMT
            Not After : Jun 26 18:11:06 2028 GMT
        Subject: CN=*.washmen.com
        Subject Public Key Info:
            Public Key Algorithm: rsaEncryption
                Public-Key: (2048 bit)
                Modulus:
                    00:b2:d1:87:72:23:ab:16:4e:bd:1e:7a:c2:bc:d9:
                    01:63:55:eb:3d:c3:ea:a0:74:c7:83:22:91:d4:0c:
                    30:26:16:8b:76:35:6f:7e:70:12:c0:eb:fd:a9:99:
                    95:55:c5:d8:11:09:df:04:7e:18:7d:61:1f:2b:1f:
                    3b:24:fb:6b:bf:61:a6:27:9d:53:96:44:f3:e1:f7:
                    47:67:7b:2c:71:ba:72:20:ee:82:b4:10:61:5a:fb:
                    0b:3b:c8:b7:96:9e:62:9f:26:9a:16:cd:e7:95:e5:
                    68:20:bc:c2:2e:35:fe:18:67:4e:74:0f:3a:1a:57:
                    a3:4a:3a:67:97:61:88:d0:38:a5:54:36:c6:65:f2:
                    24:c1:c9:50:da:25:5d:ed:39:b3:17:14:c7:38:8b:
                    58:aa:87:a0:2d:61:eb:f2:e4:38:4d:3a:0e:23:ed:
                    2f:76:23:52:5c:6c:75:4e:3e:f9:37:1f:5c:91:ea:
                    08:ba:da:00:58:a9:1c:34:c6:4c:e6:5f:d2:a5:27:
                    18:d2:70:4a:b5:72:73:f6:0a:fb:32:f2:01:78:90:
                    ec:ce:b4:90:ab:5f:58:59:26:dc:90:b0:75:22:cf:
                    61:59:9f:66:6e:26:cc:92:d4:8c:e2:71:57:89:5c:
                    5e:95:83:24:f6:df:79:ac:e0:de:eb:f0:fb:9c:61:
                    f1:6f
                Exponent: 65537 (0x10001)
        X509v3 extensions:
            X509v3 Basic Constraints:
                CA:FALSE
            X509v3 Subject Key Identifier:
                DA:C7:4D:CB:73:95:C8:08:9C:A6:D1:3E:2C:20:72:71:4B:4A:FC:A5
            X509v3 Authority Key Identifier:
                keyid:FB:95:65:DD:40:D2:B0:BD:06:43:D2:D0:1A:74:96:F3:57:C9:C6:04
                DirName:/CN=Washmen-VPN-CA
                serial:12:E0:53:A5:47:42:DC:24:65:F3:41:00:38:36:A7:13:61:03:C7:58
            X509v3 Extended Key Usage:
                TLS Web Client Authentication
            X509v3 Key Usage:
                Digital Signature
    Signature Algorithm: sha256WithRSAEncryption
    Signature Value:
        50:fe:e2:57:38:a8:47:08:1c:72:03:5b:58:03:b7:e3:d4:f9:
        56:f2:a5:d5:b7:06:86:55:9d:ff:d2:c2:c3:16:9a:59:35:70:
        e8:db:29:2e:90:b7:24:74:79:ea:7c:f4:05:9e:1a:9b:f1:14:
        c7:05:12:e1:3b:04:19:07:1c:c7:0f:05:0d:3f:4a:7e:f1:21:
        c3:8d:da:e9:e2:59:0b:ea:0c:e1:d7:7e:99:00:f9:e2:e6:ee:
        c4:05:16:fd:09:d3:94:a8:84:54:a3:36:01:4e:5b:ff:1a:7f:
        76:8b:56:30:49:92:4e:e4:b1:ba:9d:90:c2:97:e8:38:9b:38:
        aa:ab:4f:8d:1e:b4:56:44:02:3a:32:c6:aa:8e:7a:6b:78:d1:
        bb:3c:41:fd:3b:16:65:15:52:b5:2a:fb:37:07:5c:03:6a:7a:
        44:63:1d:09:ab:e7:ee:11:a3:ef:45:c8:89:d5:d0:ed:1e:03:
        45:08:d2:af:ae:07:ae:71:c8:0c:1e:f4:07:36:90:75:68:8b:
        ee:48:21:ae:b3:32:50:fe:e4:cb:48:84:2d:5d:ff:65:8c:cd:
        66:d3:60:5f:64:71:a5:d7:6f:35:c1:3f:b1:2d:9a:03:05:75:
        22:9d:b0:50:af:7d:29:31:e2:f1:e5:c8:8f:9c:c5:17:33:03:
        9d:79:11:4a
-----BEGIN CERTIFICATE-----
MIIDYTCCAkmgAwIBAgIQHzHRyAENfV3mkEaxiw60SzANBgkqhkiG9w0BAQsFADAZ
MRcwFQYDVQQDDA5XYXNobWVuLVZQTi1DQTAeFw0yNjAzMjQxODExMDZaFw0yODA2
MjYxODExMDZaMBgxFjAUBgNVBAMMDSoud2FzaG1lbi5jb20wggEiMA0GCSqGSIb3
DQEBAQUAA4IBDwAwggEKAoIBAQCy0YdyI6sWTr0eesK82QFjVes9w+qgdMeDIpHU
DDAmFot2NW9+cBLA6/2pmZVVxdgRCd8Efhh9YR8rHzsk+2u/YaYnnVOWRPPh90dn
eyxxunIg7oK0EGFa+ws7yLeWnmKfJpoWzeeV5WggvMIuNf4YZ050DzoaV6NKOmeX
YYjQOKVUNsZl8iTByVDaJV3tObMXFMc4i1iqh6AtYevy5DhNOg4j7S92I1JcbHVO
Pvk3H1yR6gi62gBYqRw0xkzmX9KlJxjScEq1cnP2Cvsy8gF4kOzOtJCrX1hZJtyQ
sHUiz2FZn2ZuJsyS1IzicVeJXF6VgyT233ms4N7r8PucYfFvAgMBAAGjgaUwgaIw
CQYDVR0TBAIwADAdBgNVHQ4EFgQU2sdNy3OVyAicptE+LCBycUtK/KUwVAYDVR0j
BE0wS4AU+5Vl3UDSsL0GQ9LQGnSW81fJxgShHaQbMBkxFzAVBgNVBAMMDldhc2ht
ZW4tVlBOLUNBghQS4FOlR0LcJGXzQQA4NqcTYQPHWDATBgNVHSUEDDAKBggrBgEF
BQcDAjALBgNVHQ8EBAMCB4AwDQYJKoZIhvcNAQELBQADggEBAFD+4lc4qEcIHHID
W1gDt+PU+VbypdW3BoZVnf/SwsMWmlk1cOjbKS6QtyR0eep89AWeGpvxFMcFEuE7
BBkHHMcPBQ0/Sn7xIcON2uniWQvqDOHXfpkA+eLm7sQFFv0J05SohFSjNgFOW/8a
f3aLVjBJkk7ksbqdkMKX6DibOKqrT40etFZEAjoyxqqOemt40bs8Qf07FmUVUrUq
+zcHXANqekRjHQmr5+4Ro+9FyInV0O0eA0UI0q+uB65xyAwe9Ac2kHVoi+5IIa6z
MlD+5MtIhC1d/2WMzWbTYF9kcaXXbzXBP7EtmgMFdSKdsFCvfSkx4vHlyI+cxRcz
A515EUo=
-----END CERTIFICATE-----
</cert>
<key>
__VPN_PRIVATE_KEY__
</key>
